@CHARSET "ISO-8859-1";

* {
    font-family: Verdana, Arial, Kalimati, Utkal, FreeSans, sans-serif;
    font-size: 12px;
}

pre,pre a {
    font-family: monospace;
    font-size: 12px;
}

body {
    background-color: white;
    text-align: center;
}

#mainBlock {
    margin: 0 auto;
    width: 750px;
    text-align: left;
}

a {
    color: black;
}

#navMenu {
    text-align: center;
}

#setupMenu {
    float: right;
}

#setupMenu a {
    font-size: 11px;
}

* a:hover,#navMenu a:hover,#setupMenu a:hover,#myUserInfo a:hover {
    color: rgb(66, 150, 231);
    text-decoration: underline;
}

.debugContainer {
    white-space: pre;
    font-family: monospace;
    text-align: left;
    display: none;
}

.debugHeader {
    cursor: pointer;
}

.instructions {
    font-style: italic;
    font-size: small;
}

h1 {
    color: rgb(66, 150, 231);
    font-size: large;
}

h2 {
    color: rgb(66, 150, 231);
    font-size: medium;
}

h3 {
    color: rgb(66, 150, 231);
}

#pageTitle,#myUserInfo a {
    font-size: 8pt;
    text-align: left;
    color: #888;
    vertical-align: top;
}

.pseudoLink {
    text-decoration: underline;
    cursor: pointer;
}

.miniLink {
    font-size: xx-small;
    color: #888;
    text-decoration: none;
    font-weight: normal;
}

#pageTitle {
    text-align: left;
    color: rgb(66, 150, 231);
    font-weight: bold;
    font-size: medium;
}

#myUserInfo,#myUserInfo a {
    text-align: right;
    text-transform: uppercase;
    text-decoration: none;
}

#loginBlockContainer {
    /* width: 525px; */
    margin-left: auto;
    margin-right: auto;
}

#loginBlockContainer p label {
    float: left;
    width: 100px;
    text-align: left;
    font-weight: bold;
}

#logoBlock {
    float: right;
}

.loginType_std, .loginType_adv, .loginType_oauth {
    display: none;
}

#navMenu a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

table.lightlyBoxed {
    border-style: solid;
    border-width: 1px;
    border-collapse: collapse;
    border-color: #bbb;
}

table.lightlyBoxed td {
    vertical-align: top;
}

table.description {
    border-color: #888;
    border-style: solid;
    border-width: medium;
    width: 40em;
    border-collapse: collapse;
}

table.description TD {
    margin: 0;
    padding: 40;
    border-style: solid;
    border-color: grey;
    border-width: thin;
    width: 50%;
}

table.dataTable {
    border-color: #888;
    border-style: solid;
    border-width: thin;
    border-collapse: collapse;
}

table.dataTable TD,table.dataTable TH {
    margin: 0;
    padding: 2;
    border-color: grey;
    border-style: solid;
    border-width: thin;
    text-align: left;
    vertical-align: top;
}

table.dataTable TD table.dataTable {
    width: 100%;
}

table.fieldMapping {
    border-color: #888;
    border-style: solid;
    border-width: thin;
    border-collapse: collapse;
    width: 95%;
}

table.fieldMapping TD,table.fieldMapping TH {
    padding: 2;
    border-color: grey;
    border-style: solid;
    border-width: thin;
    text-align: left;
    width: 33%;
}

.dataLabel {
    text-align: right;
    font-weight: bolder;
    margin-left: 10px;
}

.dataValue {
    text-align: left;
}

.matrixItem {
    border: solid thin rgb(66, 150, 231);
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

.displayErrors,.displayWarning,.displayInfo {
    text-align: center;
    font-size: 12px;
    padding: 10px;
    border: solid thin;
    border-radius: 10px;
    -moz-border-radius: 10px;
    clear: both;
}

.displayErrors {
    color: red;
    border-color: red;
}

.displayWarning {
    color: orange;
    border-color: orange;
}

.displayInfo {
    color: rgb(66, 150, 231);
    border-color: rgb(66, 150, 231);
}

#disclaimer,#disclaimer a {
    color: #888;
    font-size: 8pt;
    text-align: center;
    clear: both;
}

activateable {
    color: red;
}

.mono {
    font-family: monospace;
}

.describeValue {
    font-weight: bolder;
}

.trueColor {
    color: #669900;
}

.falseColor {
    color: #CC3333;
}

.highlightSystemField {
    color: #CC6600;
}

.highlightCustomField {
    color: #663399;
}

.legend {
    float: right;
    border:1px solid #bbb;
    padding:0.5em;
    margin-right:1em;
}

.legend ul {
    margin:0;
    padding-left: 2em;
}

/*SORTABLE CSS*/ /* Copyright 2006 Joost de Valk */
a img {
    border: 0;
}

table.sortable {
    border-spacing: 0;
    border: 1px solid #777;
    border-collapse: collapse;
}

table.sortable th,table.sortable td {
    text-align: left;
    padding: 2px 4px 2px 4px;
    border-style: solid;
    border-color: #777;
}

table.sortable th {
    border-width: 0px 1px 1px 1px;
    background-color: #ccc;
}

table.sortable td {
    border-width: 0px 1px 0px 1px;
}

table.sortable tr.odd td {
    background-color: #eee;
}

table.sortable tr.even td {
    background-color: #fff;
}

table.sortable tr.sortBottom td {
    border-top: 1px solid #444;
    background-color: #ccc;
    font-weight: bold;
}

#pushTopicContainer,
#genericSubscriptionContainer,
#replayFromContainer {
    margin-top: 10px;
}

#pushTopicDmlContainer {
    display: none;
    margin-top: 10px;
    border-color: #888;
    border-style: solid;
    border-width: thin;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#pushTopicDmlForm * {
    vertical-align: middle;
    margin: 3px;
}

#pushTopicDmlForm_Query {
    font-family: monospace;
}

#pushTopicDmlForm_Btns {
    margin-left: 5em;
}

#waitingIndicator {
    display: none;
    color: #888;
    vertical-align: middle;
}

#streamContainer {
    margin-top: 15px;
    border-color: #888;
    border-style: solid;
    border-width: thin;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: none;
    padding: 2px;
}

#streamContainer h3 {
    margin-left: 10px;
    display: inline;
}

#streamBody div {
    border: solid thin rgb(66, 150, 231);
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

#streamBody div span.heading {
    font-weight: bold;
}

#streamBody div span.body {
    font-family: monospace;
}

#streamBody div.error {
    color: red;
}

#streamContainer #status, #streamContainer #pollIndicator {
    margin-left: 10px;
    font-weight: bold;
    font-size: x-small;
    color: rgb(66, 150, 231);
}

#toggleShowPolling, #clearStream {
    float: right;
    margin-left: 5px;
}

#streamContainer #pollIndicator {
    margin-left: 2px;
    display: none;
}

#selectedTopic {
    width: 151px;
}


.tab-box { 
  border-bottom: 1px solid #DDD;
  padding-bottom:5px;
   position: relative;
    top: 30px;
}
.tab-box a {
  border:1px solid #DDD;
  color:#0198E1;
  font-size: 100%;
  padding: 5px 15px;
  text-decoration:none;
  background-color: #eee;
  position: relative;
}
.tab-box a.activeLink { 
  background-color: #fff; 
  border-bottom: 0; 
  padding: 6px 15px;
  position: relative;
}
.tabcontent { 
    border: 1px solid #ddd; 
    border-top: 0; 
    padding: 30px; 
    position: relative;
    top: 30px;
}
.hide { 
    display: none;
}

.footer { 
    padding: 10px;
}

.small { 
    color: #999; 
    margin-top: 100px; 
    border: 1px solid #EEE; 
    padding: 5px; 
    font-size: 9px; 
    font-family:Verdana, Arial, Helvetica, sans-serif; 
}

.list{
    border-collapse: collapse;
    border: 1px solid #bababa;
    width: 100%;
    margin-left:auto; 
    margin-right:auto;
}

.list th, .list td {
    text-align: left;
    padding: 8px;
    border: 1px solid #a9a9a9;
}

.list tr:nth-child(even)
{
    background-color: #f2f2f2
}

.ui-tabs .ui-tabs-nav li a { float: left; padding: .5em 1em; text-decoration: none !important; color:#7F7F7F}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; color:#0198E1;}
.ui-tabs .ui-tabs-hide { display: none !important; }

.hidden
{
    display: none;
}

.pg-normal {
    color: black;
    font-weight: normal;
    text-decoration: none;    
    cursor: pointer;    
}

.pg-selected {
    color: black;
    font-weight: bold;        
    text-decoration: underline;
    cursor: pointer;
}

.note {
    text-align:right; 
    font-size: 10px; 
    clear: both;
    float:right;
    font-style: italic;
    color: grey;
}
