@CHARSET "ISO-8859-1";

*{
	font-family: Verdana, Arial;
	font-size: 12px;
}

pre{
	font-family: monospace;
	font-size: 12px;
}

body{
	background-color: white;
	text-align: center;
}

#main_block{
	margin:0 auto;
	width: 750px;
	text-align: left;
}

a{
	color: #555;
}


#navmenu{
	text-align: center;
}

#setupMenu{
	float: right;
}

#setupMenu a{
	font-size: 11px;
}

#navmenu a:hover, #setupMenu a:hover{
	color: #0046ad;
}


h1{
	color: #0046ad;
	font-size: large;
}

h2{
	color: #0046ad;
	font-size: medium;
}

#myuserinfo{
	font-size: 10pt;
	text-transform: uppercase;
	text-align: left;
	color: #888;
}

#login_block{
	float: left;
}

#login_block strong{
	float: left;
	width: 100px;
	text-align: left;
}

#logo_block{
	float: right;
}

#navmenu a{
	color: black;
	text-decoration: none;
	font-weight: bold;
}

table.description{
	border-color: #888;
	border-style: solid;
	border-width: medium;
	width: 40em;
	border-collapse: collapse;
}

table.description TD{
	margin: 0;
	padding: 40;
	border-style: solid;
	border-color: grey;
	border-width: thin;
	width: 50%;
}

table.data_table{
	border-color: #888;
	border-style: solid;
	border-width: thin;
	border-collapse: collapse;
}

table.data_table TD, table.data_table TH{
	margin: 0;
	padding: 2;
	border-color: grey;
	border-style: solid;
	border-width: thin;
	text-align: left;
	vertical-align: top;	
}

table.field_mapping{
	border-color: #888;
	border-style: solid;
	border-width: thin;
	border-collapse: collapse;
	width: 80%;
}

table.field_mapping TD, table.field_mapping TH{
	padding: 2;
	border-color: grey;
	border-style: solid;
	border-width: thin;
	text-align: left;
	width: 33%;
}


.show_errors{
 	color: red;
	text-align: center;
	font-size: 12px;
 	padding: 10px;
 	border: red solid thin;
 	-moz-border-radius: 10px;
 	clear: both;
 }

.show_info{
 	color: #0046ad;
	text-align: center;
	font-size: 12px;
 	padding: 10px;
 	border: #0046ad solid thin;
 	-moz-border-radius: 10px;
 	clear: both;
 }

.disclaimer, .disclaimer a{
 	color: #888;
 	font-size: 8pt;
 	text-align: center;
 	clear: both;
 }

activateable{
 	color: red;
}

.mono{
	font-family: monospace;
}
