#codeViewPortContainer {
	position:absolute; 
	background-color:rgb(206,239,255); 
	padding: 10px; 
	width: 40%;
	-moz-border-radius: 10px; 
	border-radius: 10px;
}

#codeViewPort {
	white-space: pre-wrap; 
	font-family: courier, monotype;
}
