.results, .results * {
	font-size: small;
}

.codeViewPortContainer {
	background-color:rgb(206,239,255); 
	padding: 10px; 
	width: 35%;
	-moz-border-radius: 10px; 
	border-radius: 10px;
}

.codeViewPort {
	white-space: pre-wrap; 
	font-family: courier, monotype;
}